@page
@model blog_e18.Pages.Category.Index
@{
    ViewData["Title"] = "Index";
}

@section style {
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="container my-5">
    <div class="row">
        <div class="d-flex justify-content-between mb-2">
            <h3>Category List</h3>
            <a class="btn btn-success" asp-page="/category/create" role="button">Create</a>
        </div>
        <!-- Blog entries-->
        <div class="col-lg-12">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Category</h1>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Categories.Count() > 0)
            {
                <div class="card p-3">
                    <table id="datatable" class="table table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th style="width: 200px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int idx = 0;
                                @foreach (var item in Model.Categories)
                                {
                                    <tr>
                                        <td>@(++idx)</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <a asp-route-id="@item.Id" class="btn btn-primary btn-sm" asp-page="/category/edit"
                                                role="button">Edit</a>
                                            <form id="@item.Id" style="display: inline;" method="post" asp-route-id="@item.Id">
                                                <button data-id="@item.Id" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Tag</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <partial name="_NoDataPartialView" />
            }
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        });

        let id = 0;
        $("td button").click((e) => {
            e.preventDefault();
            id = e.currentTarget.dataset.id;
        });

        $(".modal-footer button").eq(1).click(() => {
            $("#" + id).submit();
        });
    </script>
}